---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">About Us</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:briefcase" title="Our Mission">
          We offer comprehensive software product development, lifecycle, and support services, leveraging over 10 years of experience.
        </Feature>
        <Feature icon="mdi:shield-lock" title="Cyber Security">
          Implementing solutions to safeguard information, maintain system integrity, and mitigate risks.
        </Feature>
        <Feature icon="mdi:factory" title="ERP Solutions">
          Providing ERP solutions through a combination of software development, implementation, consulting, and support.
        </Feature>
        <Feature icon="mdi:developer-board" title="Product Engineering">
          Delivering future-ready software products that comply with industry standards.
        </Feature>
        <Feature icon="mdi:account-group" title="Team of Experts">
          Our team consists of highly skilled professionals with specialized knowledge in various technologies.
        </Feature>
        <Feature icon="mdi:chart-line" title="Continuous Growth">
          Fostering sustained growth through innovation, customer satisfaction, and operational excellence.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/team-experts.webp">
    <h2>Why Choose Us</h2>
    <p class="text-2xl">
      We focus on leveraging and advancing technology to meet industry needs with a team of experts, continuous improvement, and operational excellence.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/operational-excellence.webp" reverseImg={true}>
    <h2>Operational Excellence</h2>
    <p class="text-2xl">
      Continuous improvement and optimization of processes to achieve high efficiency, productivity, and quality in delivering IT services or solutions.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="1+" title="Projects Completed" sub="" />
        <Counter count="1+" title="Clients" sub="" />
        <Counter count="1+" title="Employees" sub="" />
        <Counter count="1+" title="Years of Experience" sub="" />
      </div>
    </div>
  </section>
</DefaultLayout>