---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Designed by <a href="https://main--webstaxx.netlify.app/" target="_blank">webstax</a> for Aquatechnic Pools.<a
          href="https://github.com/aarnav1729">aarnav singh</a
        >.
      </p>
    </div>
  </section>
</footer>
